<app-header />
<!-- in our @for loop, the first word (user) is up to you, but you MUST use (users) in the second word because we are referring to users data and will be looping over it. We will input one instance of the user because we will be looping over the data in the array. REMOVING THE ARRAY VALUE and using 'user' instead of 'users' allow us to generate multiple values from the array, e.g. different users.-->
<main>
  <ul id="users">
    @for (user of users; track user.id) {
    <li>
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>
    }
  </ul>

  <!-- If we do have a selectedUser, it will render the content in the curly braces. If a user has NOT been selected, a fallback message will appear from the @else statement! We can also now filter tasks. -->
  @if (selectedUser) {
  <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
  } @else {
  <p id="fallback">Select a user to see their tasks!</p>
  }
</main>
